@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

body {
    background: tan;
    margin: 0;
    font-family: "Kanit", sans-serif;
    font-size: 14px;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Barra superior*/
.top-links-container {
    width: 100%;
    height: 35px;
    background: #593207;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    overflow: hidden;
}

.top-links {
    display: flex;
    gap: 10px;
    align-items: center;
}

.top-links a {
    color: #ddd;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0 8px;
    border-left: 1px solid #ddd;
    line-height: 1;
}

.top-links a:first-child {
    border-left: none;
}

.social-links {
    display: flex;
    gap: 12px;
}

.social-icon {
    height: 16px;
    width: auto;
}

/* Navegación principal*/
nav {
    background: rgb(24, 80, 24);
    border-bottom: 1px solid #aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    height: 60px;
    width: auto;
}

.navigation-links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav a {
    color: #ddd;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}

.order-button {
    background-color: #8BC34A;
    padding: 6px 12px;
    border-radius: 3px;
    color: white !important;
    border: 1px solid white;
    font-size: 0.8rem;
}

/* Carrusel*/
.carousel-inner {
    max-height: 7804px;
    overflow: hidden;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Banner*/
.banner-section img {
    width: 100%;
    margin: 20px 0;

}

.content-block {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 9rem;
}

.content-block-odd {
    background-color: #eee8d5;
}

.content-block-even {
    background-color: white;
    flex-direction: row-reverse;
}

.content-image img {
    max-width: 50rem;
    width: 100%;
}

.content-text {
    max-width: 800px;
}

.content-text h2 {
    color: #2e6b4f;
    font-size: 2.5rem;
    font-style: italic;
}

.content-text p {
    font-size: 1.2rem;
    color: #333;
    text-align: justify;
    letter-spacing: 0.03em;
    word-spacing: 0.05em;
    line-height: 1.6;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*margin: 12%;*/
}

/* Estilos para el footer */
footer {
    width: 100%;
}

.footer-image {
    width: 100%;
    height: auto;
    display: block;
}


